<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoZ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div id="main-menu" class="navbar navbar-inverse //navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PhotoZ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Add Photo", "AddPhoto", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="margin-top:60px">
            <div class="row">
                @RenderBody()
            </div>
            <footer class="row">
                <hr />
                <p>&copy; @DateTime.Now.Year - Farzan Hajian</p>
            </footer>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>