@using PhotoZ.Models;

<script type="text/javascript">
    function deletePhoto(id) {
        $.ajax({
            url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Photos"})/' + id,
            type: 'DELETE',
            success: function (result) {
                var div = $('#' + id);
                div.hide({ duration: 500 });
                var photoName = div.children("img.thumbnail").attr("alt")
                toastr.options = { "timeOut": 2000 };
                toastr.success('The photo "' + photoName + '" was deleted');
            }
        });
    }
</script>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="imgModal">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>

@{
    if (ViewBag.Photos != null)
    {
        foreach (FileViewInfo fileInfo in ViewBag.Photos)
        {
            <div id="@fileInfo.Id" class="col-md-4 thumbnail-container">
                <div style="text-align:center; cursor:default">@fileInfo.Filename</div>
                <img class="thumbnail" alt="@fileInfo.Filename" src="@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Photos", id = fileInfo.Id })" />
                <div ></div>
                <span class="delete maintooltip" onclick="deletePhoto('@fileInfo.Id')">
                    &times;
                    <span class="maintooltiptext">Delete the photo?</span>
                </span>
            </div>
        }
    }
}