@using PhotoZ.Models;

<script type="text/javascript">
    function deletePhoto(id) {
        $.ajax({
            url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Photos"})/' + id,
            type: 'DELETE',
            success: function (result) {
                $('#' + id).hide({ duration: 500 });
                toastr.options = { "timeOut": 2000 };
                toastr.success('The photo was deleted');
            }
        });
    }
</script>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="imgModal">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>

@{
    if (ViewBag.Photos != null)
    {
        foreach (FileViewInfo fileInfo in ViewBag.Photos)
        {
            <div id="@fileInfo.Id" class="col-md-4">
                <div style="text-align:center; cursor:default">@fileInfo.Filename</div>
                <img thumbnail class="thumbnail" style="cursor:pointer" alt="@fileInfo.Filename" src="@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Photos", id = fileInfo.Id })" />
                <span class="delete" onclick="deletePhoto('@fileInfo.Id')">&times;</span>
            </div>
        }
    }
}